@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.black-text{
	color:black;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;
	transition:.35s ease-in-out;	}
.hover1:hover .hover1b{
	display:inline-block;
	transition:.35s ease-in-out;}	
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-top: calc(50vh - 252px);
}

/* The Close Button */
.close-css {
  color: white;
  float: right;
  font-size: 34px;
  font-weight: bold;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor:pointer;	
}
.upload-btn-wrapper:hover{
	cursor:pointer;	
	transition:.15s ease-in-out;	}
.upload-btn {
    border: 0;
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: 2px;
	margin-top: 20px;
	cursor:pointer;	
}
.upload-btn:hover{
	cursor:pointer;
	background-color:white;
	color:black;
	transition:.15s ease-in-out;}
.hidden-input:hover{
	cursor:pointer;	
	transition:.15s ease-in-out;	}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor:pointer;	
}
/*Start */
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    height: 30px;
}
.header1 {
    border-top: 3px solid black;
    padding-top: 7px;
	padding-bottom: 3px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(186,186,186,0.45); 
	box-shadow: 0px 3px 9px 0px rgba(186,186,186,0.45);
	background-color: white;
}	
.menu-padding {
    margin-left: 20px;}
.right-menu-div {
    margin-top: 2.5px;
}
.menu-icon{
	display:none;}
.menu-img {
    height: 15px;
    margin-top: 6px;
}
.mobile-menu-a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 21px;
}
.last-menu-a{
	margin-left:0;}
.mobile-menu-h2{
	text-align:center;}
.close-menu-p {
    margin-top: 0;
	margin-right: 8.5%;}
.home-banner-div{
	background-image:url(../img/banner1.jpg);
	width:100%;
	min-height:650px;
	background-position: center;}
.menu-distance{
	margin-top:48px;}
.white-div {
    background-color: rgba(255, 255, 255, 0.95);
    width: 420px;
    float: right;
    margin-top: 200px;
    border-radius: 10px;
    padding: 30px 35px;
}

.white-div h2{
	margin-bottom:0;
	margin-top: 0;
}
.white-div p{
	margin-top: 5px;
	text-align: justify;
	text-align-last: center;
}
.black-btn {
    width: 150px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.black-btn:hover{
	opacity:0.75;
	cursor:pointer;
	transition:.15s ease-in-out;
	
}
.about-left {
    float: left;
    width: calc(50% - 150px);
    background-image: url(../img/coworking-space.jpg);
    height: 700px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 150px;
    margin-bottom: 50px;
}
.about-right {
    float: left;
    width: 50%;
    padding-left: 100px;
	margin-top: 250px;}
.style-h1 {
    margin-bottom: 8px;
}
.style-border {
    border-top: 5px solid black;
    width: 100px;
}
.subtitle-p {
    margin-bottom: 0;
    font-weight: 600;
	margin-top: 40px;
	font-size: 18px;
}
.content-p {
    margin-top: 0;
}
.center-style-border {
    margin: 0 auto;
}
.plan-small-div{
	width:30%;
	height:400px;
	background-size:cover;
	float:left;}
.middle-plan-div{
	margin-left:5%;
	margin-right:5%;}

.service-bg{
	background-image:url(../img/serviced-office1a.jpg);}
.hot-bg{
	background-image:url(../img/hot-desk1a.jpg);}
.meeting-bg{
	background-image:url(../img/meeting-room1a.jpg);}
.plan-div .center-style-border {
    margin-bottom: 50px;
}
.plan-div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.black-img-text {
    color: white;
    margin-top: 180px;
    text-align: center;
    font-weight: 600;
    font-size: 21px;}
.plan-small-div:hover{
	cursor:pointer;
	transition:.55s ease-in-out;	
}
.plan-small-div:hover .black-img-text{
	font-weight:700;
	transition:.55s ease-in-out;	
}
.service-bg:hover{
	background-image:url(../img/serviced-office2a.jpg);}
.hot-bg:hover{
	background-image:url(../img/hot-desk2a.jpg);}
.meeting-bg:hover{
	background-image:url(../img/meeting-room2a.jpg);}
.iframe-div {
    margin-top: 50px;
}
.left-contact-page {
    float: left;
    width: 50%;
    padding-right: 150px;
}
.left-contact-page .subtitle-p{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
	margin-top: 0;	
}
.social-img {
    width: 35px;
    margin-right: 20px;
}
.social-img:hover{
	cursor:pointer;
	transition:.55s ease-in-out;
	opacity:0.75;}
.company-p {
    margin-bottom: 30px;
	text-align: justify;
}
.social-p {
    margin-top: 30px;
}
.right-contact-page{
	float:left;
	width:50%;
	padding-left: 100px;}
.input-name {
    border-radius: 5px;
    width: 100%;
    border: 2px solid #949494;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 5px;
}
.contact-details {
    margin-top: 50px;
	margin-bottom: 50px;
}
.input-message {
    width: 100%;
    min-height: 100px;
    border: 2px solid #949494;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.radio1 {
    float: left;
}
.opt-msg {
    float: left;
	margin: 0;
	padding-bottom: 10px;
}
.option-table td{
	vertical-align:top;}
.input-submit {
    font-size: 16px;
	margin-top: 20px;
	border: 0;
}
.footer-div {
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        
        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}
        
        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
		/* End */
		
		
.ow-white-div{
	margin-right:7.5%;
	margin-top: 145px;
}
.grey-bg {
    background-color: #f9fafe;
    min-height: calc(100vh - 29px);
}
.width108 {
    width: 108%;
    margin-left: -4%;
}
.menu-distance2{
	padding-top: 68px;
}
.right-menu-div a:hover{
	transition:0.25s ease-in-out;
	color:black;
	font-weight:500;}
.menu-profile {
    height: 20px;
    vertical-align: bottom;
    margin-left: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -110px;
    padding-top: 13px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
    display: block;
    padding: 8px;
}
.left-black-btn {
    float: left;
    margin-right: 50px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
	width:150px;
	padding-top: 5px;
    padding-bottom: 5px;
	border-radius: 5px;
}
.right-black-btn {
    float: left;
	width:150px;
	background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
	border: 2px solid black;
}
.right-black-btn:hover{
	opacity:0.75;
	transition:.35s ease-in-out;
}
.left-black-btn:hover{
	opacity:0.75;
	transition:.35s ease-in-out;
}
.signup-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}
.login-modal-css{
	width: 30%;
}
.visible-icon {
    position: absolute;
    margin-left: -30px;
}
.password-input{
	padding-right: 35px;
}
.visible-img {
    width: 25px;
    margin-top: 5px;
}
.hover-effect:hover{
	opacity:0.75;
	transition:.35s ease-in-out;
	cursor:pointer;	}
.confirm-btn {
    border: 0;
    margin-left: calc(50% - 75px);
    font-size: 18px;	
}
.signup-p {
    font-size: 14px;
    text-align: center;
}
.loginhere-a{
	color:#0070ff;}
.loginhere-a:hover{
	opacity:0.75;
	transition:.35s ease-in-out;
	cursor:pointer;	
}
.close-login-p {
    margin-top: calc(50vh - 202px);
    position: absolute;
    right: 25%;
}
.login-modal-css{
    margin-top: calc(50vh - 152px);}
.signup-select {
    padding-left: 0;
}
.contact-input {
    padding-left: 50px;}
.country-code {
    margin-top: -48px;
    position: absolute;
}
.signup-modal-css{
	margin-top: calc(50vh - 205px);
}
.signup-menu-p {
    margin-top: calc(50vh - 265px);
    position: absolute;
    margin-right: 0;
    right: 33%;
}
.two-box-container {
    display: flex;
}
.two-box-div {
    width: 46%;
    background-color: white;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19); 
	box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19);
	float:left;
	border-radius: 10px;
	margin-bottom: 50px;
}
.second-box{
	margin-left:8%;}
.color-header{
	padding: 10px 20px;
	padding-bottom:8px;
	overflow: hidden;
}
.header-icon {
    width: 25px;
	float: left;
}
.red-header{
	background-color:#be1e2d;}
.color-header p {
    float: left;
    margin: 0;
    color: white;
    font-weight: 700;
    margin-left: 10px;
	font-size: 21px;
    margin-top: -3px;
}
.view-a {
    float: right;
	font-size: 13px;
	margin-top: 2px;
}
.white-box-content-p {
    margin-top: 2px;
}
.white-box-content{
	padding: 10px 20px;
	padding-bottom: 0;
    padding-top: 25px;
	overflow:hidden;
	width: 100%;}
.white-icon2 {
    width: 30px;
	margin-top: 15px;
}
.left-icon-div {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
	text-align: center;
}
.right-icon-div {
    float: left;
    width: calc(100% - 60px);
    padding-left: 15px;
}
.light-grey-text{
	color:#808285;}
.small-date {
    margin-top: 0;
	margin-bottom: 0;
    font-size: 12px;
}
.content-container {
    overflow: hidden;
    margin-bottom: 25px;
}
.orange-header{
	background-color:#f7941e;}
.gold-header{
	background-color:#ab7600;}
.grey-icon{
	background-color: grey;}
.green-icon{
	background-color: #00a651;	
}
.blue-icon{
	background-color: #1c75bc;	
}
.image-container{
	background-color:transparent;
	box-shadow:none;
	-webkit-box-shadow:none;}
.year-select {
    background: transparent;
    border: 0;
}
.right-select {
    border: 0;
    float: right;
    margin-right: 20px;
	margin-top: 10px;
}
.blue-btn {
    background-color: #1c75bc;
    color: white;
    font-weight: 700;
    text-align: center;
}
.add-new-btn {
    width: 300px;
    font-size: 24px;
    padding: 15px 0;
    border-radius: 32px;
	float:left;
}
.blue-btn:hover{
	cursor:pointer;
	background-color:#f7941e;
	transition:.35s ease-in-out;}
.align-calendar-header{
	padding: 40px 20px;
}
.fillup-leftspace{
	width: calc(23% - 150px);
	height:50px;
	float:left;}
.add-icon {
    width: 25px;
    margin-left: 10px;
}
.price-title {
    margin-top: 0;
    font-size: 15px;
}
.price-title b{
	font-size: 27px;
}
.details-table {
    font-size: 15px;
    border-collapse: collapse;
}
.details-table tr {
    line-height: 27px;
}
.booking-whitebox-content {
    padding-top: 15px;
    padding-bottom: 15px;
}
.blue-header{
	background-color:#1c75bc;}
.purple-header{
	background-color:#662d91;}
.green-header{
	background-color:#00a651;}
.violet-header{
	background-color:#2b3990;}
.three-div {
    width: 31%;
    float: left;
}
.middle-three-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.tempo-three-clear{
	clear:both;
	margin-bottom: 30px;}
.three-select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #232323;
    background-color: transparent;
    font-size: 18px;
}
.input-top-p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #939598;
}
.total-p {
    font-weight: 700;
    font-size: 27px;
    margin-top: -5px;
}
.four-img-div{
	float:left;
	width:22%;}
.four-img-container {
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
}
.middle-four-img-div1 {
    margin-left: 4%;
    margin-right: 2%;
}
.middle-four-img-div2 {
    margin-left: 2%;
    margin-right: 4%;
}
.four-img-p {
    font-weight: 700;
}
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.eight-checkbox {
    float: left;
    margin-right: 50px;
    width: 50px;
}
.booked{
	background-color:grey !important;
	}
.project-textarea {
    min-height: 120px;
	font-size: 16px;
	margin-bottom: 50px;
}
.big-container-for-seat {
    margin-bottom: 50px;
    overflow: hidden;
}
.project-p {
    margin-top: 30px;
}
.payment-button {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 250px;
    font-size: 18px;
	float:left;

}
.fillup-extra-space{
    width: calc(50% - 125px);
	height:50px;
	float:left;	
}
.fillup-extra-space2 {
    width: calc(50% - 24.725px);
    height: 50px;
    float: left;
}
.cancel-a {
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
	font-weight: 700;
    color: #1c75bc;
}
.cancel-a:hover{
	color:#f7941e;
}
/* Radio */
/* The container */
.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.half-div-radio{
	width:50%;
	float:left;
	margin-bottom: 50px;}
.half-div-radio:hover{
	cursor:pointer;
	transition:.35s ease-in-out;}
.payment1-div {
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: calc(90% - 20px);
    margin-left: 20px;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19); 
	box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19);
}
.thin-payment-p {
    margin-top: 0;
	margin-bottom: 0;
    color: #949494;
}
.thick-payment-p {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
}
.payment-img {
    width: 150px;
    margin-left: 10px;
}
.three-div-radio {
    float: left;
    margin-right: 80px;
	font-weight: 700;
}
.no-margin-right{
	margin-right:0;}
.divider{
	height:50px;
	width:100%;}
.receipt-title-h1 {
    font-size: 27px;
    float: left;
	margin-top: 0;
}
.logo-img2 {
    height: 27px;
}
.logo-span {
    float: right;
}
.receipt-address-p {
    font-size: 13px;
}
.receipt-subtitle-h2 {
    font-size: 16px;
}
.receipt-half-div {
    width: 50%;
    float: left;
}
.align-p-h2 {
    float: left;
}
.align-h2-p {
    float: right;
    padding-right: calc(80% - 103px);
    margin-bottom: 0;
    margin-top: 13px;
}
.no-margin-top{
	margin-top:0;}
.receipt-border{
	border-bottom:1px solid grey;
	margin-top:15px;
	margin-bottom: 15px;}
.receipt-upper-p {
    font-size: 13.5px;
	margin-bottom: 5px;
}
.receipt-lower-p {
    font-size: 15px;
	color:black;
}
.second-receipt-half-div{
	padding-left:10px;}
.receipt-left-total {
    float: left;
    width: calc(50% + 10px);
}	
.receipt-right-total {
    float: left;
    font-weight: 700;
	color:black;
}
.bigger-font {
    font-size: 21px;
}
.slight-left {
    margin-left: -9px;
}
.total-container {
    padding-bottom: 20px;
}
.print-btn {
    border: 2px solid #1c75bc;
    background-color: white;
    color: #1c75bc;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 250px;
    font-size: 18px;
    float: left;
	font-weight: 700;
	margin-right: 30px;
}
.view-plan-btn{
    border: 2px solid #1c75bc;	
}
.view-plan-btn:hover{
    border: 2px solid #f7941e;	
}
.fillup-2-btn-space {
    width: calc(50% - 265px);
    height: 50px;
    float: left;
}
.receipt-two-btn-container {
    margin-bottom: 80px;
}
.padding-bottom-0{
	padding-bottom:0;}
.print-btn:hover{
	background-color:#f7941e;
	color:white;
	border: 2px solid #f7941e;
	transition:.35s ease-in-out;
	cursor:pointer;}
.fillup-extra-space3 {
    width: calc(50% - 51px);
	height: 50px;
    float: left;}
.overflow-scroll-div{
	overflow:auto;}
.align-select-h1 {
    float: left;
}
.align-h1-select {
    float: right;
    background-color: transparent;
    border: 0;
    margin-top: 40px;
	font-weight: 700;
}
.issue-table{
	background-color:white;
	width:100%;
	border:1px solid black;
	border-collapse:collapse;}
.issue-table td{
	border:1px solid black;	
	padding-left:5px;
	padding-top: 3px;
    padding-bottom: 3px;
	vertical-align: top;		
}
.issue-table th{
	border:1px solid black;
	text-align:left;
	padding-left:5px;
	padding-top: 3px;
    padding-bottom: 3px;
	vertical-align: top;	
}
.orange-status{
	color:#f7941e;}
.green-status{
	color:#00a79d;}
.receipt-half-div2 {
    text-align: right;
}
.issue-right-h2 {
    float: left;
    font-size: 21px;
    padding-left: calc(95% - 240px);
}
.issue-right-p {
    margin-top: 22px;
}
.message-border{
	border-bottom:1px solid grey;
	margin-top:10px;
	margin-bottom:10px;}
.profile-img {
    width: 100%;
}
.profile-div {
    float: left;
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.message-div {
    float: left;
    padding-left: 20px;
	padding-right: 20px;
	width: calc(100% - 60px);
}
.date-details {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0;
}
.extra-b {
    font-size: 18px;
}
.rate {
    float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffaa09;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffaa09;  
	transition:.25s ease-in-out;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffaa09;
	transition:.25s ease-in-out;
}
/* End of star rating*/
.review-title {
    margin-top: 50px;
    margin-bottom: 0;
}
.message-container{
	display:flex;}
.project-textarea2{
	margin-bottom:0;}
.uploaded-img {
    max-width: 100%;
}
.left-img-preview {
    float: left;
    width: 40%;
}
.right-remove-span {
    float: right;
    color: #be1e2d;
}
.comment-pic {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-profile-img {
    width: 150px;
}
.profile-left-div {
    width: 150px;
    float: left;
}
.profile-update-btn{
	margin-left: calc(50% - 42px);
}
.profile-middle-div{
	float:left;
	width:calc(100% - 150px);
	padding-left:100px;}
.blue-text2{
	color:#1c75bc;
}
.edit-half-div {
    width: 45%;
	float:left;
	margin-bottom: 20px;
}
.second-edit-half-div {
	margin-left:10%;
}
.phone-input2 {
    padding-left: 35px;
}
.country-code2 {
    position: absolute;
    font-size: 18px;
    margin-top: 1px;
}
.red-text{
	color:#be1e2d;	
}
.black-btn-add {
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
.left-date {
    float: left;
}
.right-price {
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
	margin-bottom: 0;
}
.top-radius{
	border-top-left-radius:10px;
	border-top-right-radius:10px;}
.view-password-span {
    position: absolute;
    margin-top: -25px;
    right: 55%;
}
.view-password-img{
	width:25px;}
.edit-password-big-div .three-select{
	padding-right:45px;}
.remember-me-checkmark {
    height: 20px;
    width: 20px;
}
.container1 .remember-me-checkmark:after{
    width: 3px;
    height: 7px;
	left: 7px;
    top: 4px;	
}
.remember-me-label {
    font-size: 16px;
}
.four-white-div {
    width: 22%;
    background-color: white;
    float: left;
    overflow: hidden;
	margin-bottom: 50px;
	text-align:center;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19); 
	box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19);
	border-radius: 15px;
	padding: 30px 15px;
}
.second-white-div {
    margin-left: 4%;
    margin-right: 2%;
}
.third-white-div {
    margin-left: 2%;
    margin-right: 4%;
}
.circle-icon {
    width: 70px;
    margin-top: 25px;
}
.color-circle{
	width: 120px;
    height: 120px;
    border-radius: 50%;
	margin-left: auto;
    margin-right: auto;}
.color-circle1 {
	background-color: #ffa73e;
}
.white-div-title {
    font-weight: 700;
    font-size: 21px;
	margin-bottom: 10px;
}
.white-div-number {
    font-size: 38px;
    margin: 0;
}
.color-circle2{
	background-color:#fc5e8f;}
.color-circle3{
	background-color:#bf8ae2;}
.color-circle4{
	background-color:#7c82dc;}
.color-circle5{
	background-color:#b2e86d;}
.color-circle6{
	background-color:#3ec265;}
.color-circle7{
	background-color:#46bddf;}
.small-divider {
    height: 30px;
}
.lightblue-text{
	color:#1c75bc;
}
.upper-search-p {
    margin-bottom: 5px;
    font-size: 12px;
}
.search-input {
    width: 100%;
    border: 1px solid #c1c1c1;
    padding-left: 5px;
    padding-right: 5px;
}
.three-search-div {
    float: left;
    width: 32%;
}
.middle-three-search {
    margin-left: 2%;
    margin-right: 2%;
}
.search-input {
    font-size: 16px;
    margin-bottom: 15px;
}
.search-blue-btn {
    border: 0;
    margin-top: 34px;
    padding-top: 3px;
    padding-bottom: 4px;
    width: 100%;
    border-radius: 3px;
}
.reply-status {
    font-size: 16px;
    margin-bottom: 20px;
}
.reply-top-p {
    margin-bottom: 2px;
    font-size: 13px;
	margin-top: 30px;
}
.reply-textarea{
	margin-bottom:0;}
.review-title2 {
    margin-top: 20px;
}
.notify-title {
    margin-top: 40px;
    margin-bottom: 10px;
	font-size: 21px;
}
.red-btn {
    text-align: center;
    color: white;
    font-weight: 700;
    background-color: #be1e2d;
    border: 2px solid #be1e2d;
}
.red-btn:hover{
	background-color:#f7941e;
	transition:0.35s ease-in-out;
	cursor:pointer;}
.eight-checkbox2 {
    width: 150px;
}
.title-select {
    background-color: transparent;
    border: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.half-h1{
	float:left;}
.half-h1-left {
    width: 52%;
}
.half-four-div {
    width: 50%;
    float: left;
}
.half-four-div .four-white-div {
    width: 44%;
}
.second-half-four-div .four-white-div{
	margin-left:4%;	
}

.second-half-four-div .backend-title-h1{
	margin-left:4%;	
}
.second-four-white-div {
    margin-left: 8% !important;
}
.promo-half-div {
    width: 48%;
    float: left;
    overflow: hidden;
}
.second-promo-half-div{
	margin-left:4%;}
.promo-h3 {
    float: left;
	width: calc(100% - 32px);
	min-height:75px;
	margin-top: 50px;
}
.edit-icon {
    width: 22px;
    margin-left: 10px;
    float: right;
    margin-top: 50px;
}
.red-btn2 {
    width: 200px;
    background-color: #be1e2d;
    border: 0;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
	margin-left: calc(50% - 100px);
}
.red-btn2:hover{
	transition:.35s ease-in-out;
	background-color:#a01a27;
	cursor:pointer;
}
.cancel-btn {
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 18px;
    color: #1c75bc;
    margin-left: calc(50% - 34px);
    margin-top: 20px;
}
.cancel-btn:hover{
	transition:0.35s ease-in-out;
	color:#12558c;
	cursor:pointer;	
}
.whitebox-hover:hover{
	background-color:#1c75bb;
	color:white;
	transition:0.35s ease-in-out;
}
.whitebox-hover:hover p{
	color:white;
	transition:0.35s ease-in-out;	}
.rules-textarea {
    min-height: 450px !important;
}
.faq-remove {
    font-size: 13px;
	margin-top: 14px;
}
.faq-width {
    width: 60%;
	text-align: justify;
}
.ow-width100{
	width:100% !important;}
.darkgreen-header{
	background-color: #006330;
}
.two-checkbox{
	width:120px !important;}
.fillup-leftspace2{
	width: calc(50% - 150px);
    height: 50px;
    float: left;
}
.white-box-content-noti {
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.19);
}
.margin-bottom-0{
	margin-bottom:0;}
.booking-button{
	border: 0;
    padding: 0;
	text-align:left;
}
.gmap-div {
    width: 100%;
    overflow: hidden;
    margin-top: 35px;
	margin-bottom: 35px;
}
.gmap-iframe{
	width:100%;
	height: 350px;
}
.location-table {
    width: 100%;
	margin-bottom: 50px;
}
.location-table thead {
    text-align: left;
}
.floorplan-img {
    width: 600px;}
.top-radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ow-margin-bottom-0{
	margin-bottom:0 !important;}
.booking-h1{
	float:left;}
.booking-btn {
    float: right;
    padding: 2px 0;
    width: 270px;
    margin-top: 23px;
}
.receipt-btn {
    background: transparent;
    border: 0;
	padding: 0;
}
.left-content-p {
    float: left;
	width:calc(100% - 30px);
	padding-right:10px;
}
.right-content-p {
    float: right;
}
.receipt-img {
    width: 30px;
}
.p-container {
    overflow: hidden;
    margin-bottom: 20px;
}
.text-break{
	word-break: break-all;
}
@media all and (max-width: 1690px){	
.white-div-title{
	min-height:56px;}
}
@media all and (max-width: 1500px){
.login-modal-css {
    width: 40%;
}	
.close-login-p{
	right: 20%;
}
.signup-menu-p{
	right: 28%;
}
.add-new-btn{
	font-size: 18px;
}
.issue-table{
	font-size: 14px;
}
.booking-btn{
	margin-top: 30px;
	width: 200px;
}
}
@media all and (max-width: 1400px){
.about-left {
    width: calc(50% - 80px);
	height: 500px;
	margin-right: 80px;}
.about-right {
    padding-left: 50px;
    margin-top: 150px;
}
.plan-small-div{
	height: 300px;
}
.black-img-text{
	margin-top: 140px;
}
.left-contact-page{
	padding-right: 50px;
}
.right-contact-page{
	padding-left: 50px;
}
.input-name{
	font-size: 14px;
	margin-bottom: 10px;
}
.footer-div {
	font-size: 12px;
    padding: 3px;
}
.backend-title-h1 {
    font-size: 30px;
}
.thin-payment-p{
	font-size: 16px;
}
.thick-payment-p {
    margin-top: 10px;}
.backend-title {
    font-size: 24px;
}
.issue-right-h2 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 24px;
}
.issue-right-p {
    margin-top: 25px;
    font-size: 14px;
}
.issue-right-h2-2, .issue-right-p-2{
	margin-top:0;}
.white-div-number {
    font-size: 28px;}
.faq-width {
    width: 70%;}
}
@media all and (max-width: 1300px){
.home-banner-div{
	min-height: 450px;
}	
.white-div{
	margin-top:110px;}
.ow-white-div{
	margin-top:150px;
}
.four-img-p {
    font-size: 14px;
    margin-top: 2px;
}
.left-img-preview {
    width: 55%;
}
}
@media all and (max-width: 1250px){
.white-div-title {
    min-height: 48px;
	font-size:18px;
}	
}
@media all and (max-width: 1200px){
.align-h2-p{
    padding-right: calc(65% - 103px);	
}	
}
@media all and (max-width: 1150px){
.input-top-p{
	font-size: 13px;
}
.three-select{
	font-size: 16px;
}
.input-top-p {
    margin-bottom: 6px;}
.three-select-p {
    margin-top: 6px;
}
.total-p{
	font-size: 24px;
}
.two-box-div {
    width: 48%;}	
.second-box {
    margin-left: 4%;
}
.calendar .header .month{
	font-size: 1.8em;
}
.ring-left, .ring-right {
	margin-top: -6px;
}
.header-icon {
    width: 18px;}
.color-header p{
	font-size: 16px;
}
.white-icon2 {
    width: 24px;
	margin-top: 10.5px;}
.left-icon-div {
    width: 45px;
    height: 45px;}
.country-code2{
	font-size: 16px;
}
.phone-input2 {
    padding-left: 30px;
}
.faq-remove {
    font-size: 11px !important;
    margin-top: 15px !important;
}
}
@media all and (max-width: 1100px){
.container1{
	font-size: 18px;	
}
.white-div-title {
    min-height: 72px;}
.search-blue-btn{
	width:100%;
	padding-bottom: 2px;}
.search-input {
    font-size: 14px;}
	
}
@media all and (max-width: 1050px){
.right-price{
	font-size: 12px;	
}

}
@media all and (max-width: 1000px){
.about-right{
	padding-left:30px;}
.about-right .style-h1 {
    font-size: 27px;
}
.style-border {
    border-top: 3.5px solid black;
    width: 70px;
}
.subtitle-p {
    margin-top: 30px;
}
.home-banner-div {
    min-height: 380px;
}
.white-div {
    margin-top: 75px;
	margin-right: calc(50% - 210px);
}
.plan-small-div {
    height: 230px;
}
.black-img-text {
    margin-top: 100px;
}
.ow-white-div{
	margin-right:7.5%;
	margin-top: 155px;}

.backend-title-h1 {
    font-size: 26px;
}
.backend-title-h2 {
    font-size: 21px;
}
.thin-payment-p {
    font-size: 14px;
}
.thick-payment-p{
	font-size: 18px;
}
.align-h1-select{
    margin-top: 30px;	
}
.profile-profile-img {
    width: 100px;
}
.profile-left-div {
    width: 100px;}
.profile-update-btn {
    margin-left: 0;
    width: 100%;}
.profile-update-btn .upload-btn {
    width: 100%;
}
.profile-middle-div {
    width: calc(100% - 100px);}
.faq-width {
    width: 85%;
}
.faq-width .input-top-p{
	font-size: 15px;}
.booking-btn {
    margin-top: 22px;
    width: 200px;
}
}
@media all and (max-width: 950px){
.login-modal-css {
    width: 50%;
}
.close-login-p {
    right: 13%;
}	
.signup-menu-p {
    right: 22%;
}
.four-white-div {
    width: 31%;}
.second-white-div{
	margin-left:0;
	margin-right:0;}
.third-white-div{
	margin-left:0;
	margin-right:0;}
.third-two{
	margin-left:3.5%;
	margin-right:3.5%;}
.white-div-title {
    min-height: 0;
}
.half-four-div {
    width: 100%;
	float:none;}
.second-half-four-div {
    clear: both;
}
.half-four-div .four-white-div {
    width: 31%;
}
.second-four-white-div {
    margin-left: 3.3% !important;
}
.second-half-four-div .backend-title-h1 {
    margin-left: 0;
}
.second-half-four-div .four-white-div {
    margin-left: 0;
}
}
@media all and (max-width: 900px){
.left-contact-page {
    padding-right: 25px;
}
.right-contact-page {
    padding-left: 25px;
}
.small-date{
	font-size: 11px;
}
.white-box-content-p{
	font-size: 14px;
}
.content-container {
    margin-bottom: 15px;
}
.view-a {
    font-size: 12px;}
.three-div {
    width: 48%;
    float: left;
	margin-bottom: 20px;}
.middle-three-div {
    margin-left: 0;
    margin-right: 0;
}
.second-three-div {
    margin-left: 4%;
}
.tempo-three-clear {
    clear: none;
    margin-bottom: 0;
}
.half-div-radio {
    width: 100%;
    float: none;}
.payment1-div{
    width: 90%;	
}
.payment-img {
    width: 120px;}
.no-margin-right .container2{
	font-size:18px;}
.comment-pic {
    width: 50%;}
.edit-half-div {
    width: 48%;}
.second-edit-half-div {
    margin-left: 4%;
}
.edit-icon {
    width: 20px;}
}
@media all and (max-width: 870px){
.right-price {
    float: left;
    clear: both;
}
.white-div-title {
    min-height: 48px;
}
}
@media all and (max-width: 850px){
.faq-width {
    width: 100%;
}
.floorplan-img {
    width: 100%;}
}
@media all and (max-width: 840px){
.backend-title-h1 {
    font-size: 23px;
}
.price-title {
    font-size: 13px;
	margin-bottom: 5px;
}
.price-title b {
    font-size: 24px;
}
.details-table {
    font-size: 13.5px;}
.backend-title-h2 {
    font-size: 19px;
}
.add-icon {
    width: 20px;}
}
@media all and (max-width: 820px){
.four-img-p {
    font-size: 12px;}

}
@media all and (max-width: 800px){
.logo-img {
    height: 25px;
}	
.header1 {
    padding-top: 4px;
    padding-bottom: 1px;}
.menu-padding {
    margin-left: 10px;
    font-size: 12px;}
.right-menu-div {
    margin-top: 0;
}
.about-left {
    width: calc(50% - 40px);
    margin-right: 40px;
}
.about-right .style-h1 {
    font-size: 24px;
}
.subtitle-p {
    margin-top: 20px;
}
.plan-div {
    margin-top: 0;}
.style-h1{
	font-size: 27px;
}
.black-img-text{
	font-size: 17px;
}
.plan-div .center-style-border {
    margin-bottom: 35px;
}
.left-contact-page {
    padding-right: 0;
    float: none;
    width: 100%;
}
.right-contact-page {
    padding-left: 0;
    margin-top: 30px;
    width: 100%;
    float: none;
}
.footer-div{
	font-size: 12px;
    padding: 3px;	
}
.ow-white-div .black-text{
	font-size:29px;}
.ow-white-div .grey-text{
	font-size:21px;	
}
.ow-white-div .black-btn{
	font-size:21px;	
}
.ow-white-div{
	margin-top: 135px;
}
.footer-div {
    font-size: 11px;
    padding: 2px;
}
.about-right{
	margin-top: 110px;
}
.login-modal-css {
    width: 70%;
}
.close-login-p {
    right: 2%;
}
.signup-menu-p {
    right: 11%;
}
.big-container-for-seat {
    margin-bottom: 30px;}
.three-div-radio{
	margin-right: 40px;
}
.receipt-title-h1 {
    font-size: 21px;}
.receipt-address-p {
    font-size: 12px;
}
.receipt-subtitle-h2, .align-h2-p {
    font-size: 14px;
}
.align-h2-p{
    margin-top: 12px;}
.no-margin-top {
    margin-top: 0;
}
.receipt-upper-p {
    font-size: 12px;}
.receipt-lower-p {
    font-size: 13px;}
.receipt-left-total, .receipt-right-total{
    font-size: 14px;	
}
.bigger-font {
    font-size: 18px;
}
.fillup-2-btn-space{
	display:none;}
.print-btn{
	margin-right:0;
	float:none;}
.view-plan-btn, .print-btn{
	margin-left:calc(50% - 125px);}
.print-btn {
    margin-bottom: 30px;
}
.issue-table {
    font-size: 13px;
}
}
@media all and (max-width: 780px){
.plan-small-div {
    height: 190px;
}
.black-img-text {
    margin-top: 85px;
    font-size: 16px;
}
.plan-small-div {
    width: 31.5%;
}
.middle-plan-div {
    margin-left: 2.75%;
    margin-right: 2.75%;
}
.circle-icon {
    width: 50px;
	margin-top:20px;}
.color-circle {
    width: 90px;
    height: 90px;}
.white-div-title{
	font-size: 15px;
}
.white-div-number {
    font-size: 28px;}
.four-white-div{
	padding: 20px 12px;
}
}
@media all and (max-width: 750px){
.issue-title-h1{
	font-size: 18px;
}
.issue-right-h2 {
    font-size: 13px;
	padding-left: calc(95% - 170px);
	margin-top: 17px;}
.issue-right-p{
	font-size: 12px;
	margin-top: 18px;
}
.issue-right-h2-2 {
    margin-top: 5px;
}
.profile-div {
    width: 60px;}
.date-details {
    font-size: 12px;}
.extra-b {
    font-size: 15px;
}
.review-title {
    margin-top: 30px;}
.project-textarea{
	font-size: 15px;
}
}
@media all and (max-width: 740px){
.payment-img {
    width: 100px;
}	
}
@media all and (max-width: 720px){
.four-img-container{
	margin-top: 10px;
}

}
@media all and (max-width: 705px){
.eight-checkbox2 {
    width: 70px;
}
}
@media all and (max-width: 700px){
.two-box-container {
    display: block;
}
.two-box-div {
    width: 100%;}
.second-box {
    margin-left: 0;
}
.calendar .header .month {
    font-size: 1.4em;
    padding-bottom: 0;
    margin-top: 10px;
}
.ring-left, .ring-right {
    margin-top: -10px;
}
.align-h2-p {
    padding-right: 0;
}
.promo-half-div {
    width: 100%;}
.second-promo-half-div {
    margin-left: 0;
}
.promo-h3{
	min-height: 0;
}
}
@media all and (max-width: 690px){
.three-div-radio {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
}
}
@media all and (max-width: 650px){
.about-right {
    margin-top: 90px;
}
.left-img-preview {
    width: 70%;
}
.profile-middle-div {
    width: 100%;
    padding-left: 0;
}

}
@media all and (max-width: 640px){
.plan-small-div {
    height: 160px;
}
.black-img-text {
    margin-top: 70px;}
.issue-h1 {
    width: 100%;
    float: none;
}
.issue-select {
    float: none;
    margin-top: 0;}
}
@media all and (max-width: 630px){
.about-left {
    width: calc(50% - 30px);
    margin-right: 30px;
}
.about-right {
    padding-left: 15px;
	margin-top: 90px;
}
}
@media all and (max-width: 620px){
.white-div-title {
    min-height: 40px;
}

}
@media all and (max-width: 600px){
.style-h1 {
    font-size: 24px;
}	
.ow-white-div .black-text {
    font-size: 34px;
}
.ow-white-div .grey-text {
    font-size: 26px;
}
.ow-white-div .black-btn {
    font-size: 27px;
    width: 180px;
}
.ow-white-div{
	width: 620px;
	margin-top: 125px;
}
.extra-b {
    font-size: 13px;
}
.date-details {
    font-size: 11px;
}
.right-remove-span{
	font-size: 13px;	
}
.edit-half-div {
    width: 100%;
}
.second-edit-half-div {
    margin-left: 0;
}
.view-password-span{
	right: 9%;
}
.circle-icon {
    width: 35px;
    margin-top: 12.5px;
}
.color-circle {
    width: 60px;
    height: 60px;
}
.white-div-title {
    font-size: 14px;
	margin-bottom: 0px;
}
.white-div-number {
    font-size: 18px;
}
.three-search-div {
    float: left;
    width: 48%;
    margin-left: 0;
    margin-right: 0;
}
.second-three-search {
    margin-left: 4%;
}
}
@media all and (max-width: 580px){
.login-modal-css {
    width: 90%;
}
.close-login-p {
    right: 3%;
    margin-right: 0;
}	
.signup-menu-p {
    right: 2.5%;
}
}
@media all and (max-width: 560px){
.white-div-title{
	min-height: 38px;
}
}
@media all and (max-width: 550px){
.input-top-p {
    font-size: 12px;
}	
.three-select {
    font-size: 14px;
}
.input-top-p {
    margin-bottom: 0px;
}
.three-select-p {
    margin-top: 0;
}
.total-p {
    font-size: 21px;
}
.issue-half-div {
    width: 100%;
    float: none;
}
.receipt-half-div2 {
    text-align: left;
    padding: 0;
    width: 100%;
    float: none;
}
.issue-right-h2 {
    font-size: 13px;
    padding-left: 0;
    margin-top: 0;
}
.issue-right-p {
    font-size: 13px;
    margin-top: 0;
    text-align: right;
    padding-right: calc(90% - 150px);
}
.issue-right-p-2 {
    margin-top: 17px;
}
.comment-pic {
    width: 70%;}
}
@media all and (max-width: 540px){
.about-right {
    margin-top: 100px;
}
.about-right .style-h1 {
    font-size: 21px;
}
.style-border {
	width: 35px;
}
.about-right .subtitle-p {
	font-size: 14px;
}
.about-right .content-p{
	font-size: 14px;
}
.about-left{
	height: 420px;
}
.white-div .black-text{
	font-size: 21px;
}
.white-div .grey-text{
	font-size: 16px;
}
.ow-white-div .black-text {
    font-size: 34px;
}
.ow-white-div .grey-text {
    font-size: 26px;
}
.ow-white-div .black-btn {
    font-size: 27px;
    width: 180px;
}
.ow-white-div{
	width: 620px;
	margin-top: 125px;
	margin-right: calc(50% - 310px);
}
.about-right {
    margin-top: 70px;
}
.eight-checkbox {
    margin-right: 0;
    width: 25%;
}
}
@media all and (max-width: 500px){
.logo-img {
    height: 20px;
}	
.right-menu-div {
    margin-top: -3px;
}	
.menu-padding {
    margin-left: 10px;
    font-size: 10px;
}
.white-div{
	padding: 20px 25px;
	width: 270px;
	margin-right: calc(50% - 135px);
}
.black-img-text{
	font-size:13px;}
.plan-small-div {
    height: 130px;
}
.black-img-text {
    margin-top: 55px;}
.iframe-div{
	margin-top: 30px;
}
.ow-white-div .black-text {
    font-size: 37px;
}
.ow-white-div .grey-text {
    font-size: 29px;
}
.ow-white-div .black-btn {
    font-size: 29px;
    width: 180px;
}
.ow-white-div{
	width: 620px;
	margin-top: 125px;
	margin-right: calc(50% - 310px);
}
.left-black-btn {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;}
.right-black-btn{
    float: none;
    margin-right: auto;
    margin-left: auto;	
}
.day{
	font-size: 14px;
}
.four-img-div {
    float: left;
    width: 48%;
}
.middle-four-img-div1 {
    margin-left: 4%;
    margin-right: 0;
}
.middle-four-img-div2 {
    margin-left: 0;
    margin-right: 4%;
}
.project-textarea {
    font-size: 14px;}
}
@media all and (max-width: 480px){
.payment1-div{
    width: 95%;	
}
}
@media all and (max-width: 471px){
.about-right {
    margin-top: 70px;
}
.about-right .subtitle-p {
    font-size: 13px;
}
.about-right .content-p {
    font-size: 13px;
}
.about-right {
    margin-top: 95px;
}
}
@media all and (max-width: 470px){
.about-right {
    margin-top: 65px;
}
.white-div-title {
    min-height: 57px;
}
}
@media all and (max-width: 455px){
.white-div-title {
    min-height: 57px;
}

}
@media all and (max-width: 450px){
.backend-title-h1 {
    font-size: 21px;
}
.price-title b {
    font-size: 21px;
}
.align-select-h1, .align-h1-select{
	float:none;}
.align-h1-select {
    margin-top: 0;}
.four-white-div {
    width: 48%;
	margin-left:0;
	margin-right:0;
}
.four-two{
	margin-left:4%;}
.search-input {
    font-size: 12px;
}
.upper-search-p{
	font-size: 11px;
}
.search-blue-btn{
	font-size: 12px;
	padding-top: 2px;
    padding-bottom: 1px;
}
.half-four-div .four-white-div {
    width: 48%;
}
.second-four-white-div {
    margin-left: 4% !important;
}
.white-div-title {
    min-height: 38px;
}
.booking-btn {
    margin-top: 17px;
    font-size: 14px;
	width: 150px;
}
}
@media all and (max-width: 440px){
.about-right {
    margin-top: 75px;
}
.about-right .style-h1 {
    font-size: 18px;
}
}
@media all and (max-width: 430px){
.ow-white-div .black-text {
    font-size: 42px;
}
.ow-white-div .grey-text {
    font-size: 33px;
}
.ow-white-div {
    width: 820px;
    margin-top: 115px;
    margin-right: calc(50% - 410px);
}

.menu-profile {
    height: 9px;
    vertical-align: middle;
}
}
@media all and (max-width: 420px){
.plan-small-div {
    float: none;
    width: 100%;
	margin-bottom: 10px;}
.middle-plan-div {
    margin-left:0;
    margin-right:0;
}
.black-img-text {
    margin-top: 0;
    padding-top: 55px;
	font-size: 16px;
}
.eight-checkbox {
    width: 33.33%;
}
.align-p-h2 {
    font-size: 11px;
}
.align-h2-p{
	font-size: 10px;
    margin-top: 10px;
}
.no-margin-top {
    margin-top: 0;
}
}
@media all and (max-width: 400px){
.signup-input{
	 margin-bottom: 15px;
    font-size: 14px;
}
.visible-img {
    width: 22px;}
.confirm-btn{
	font-size: 15px;
}
.signup-p {
    font-size: 12px;}
.backend-title-h1 {
    font-size: 18px;
}
.backend-title-h2 {
    font-size: 16px;
}
.thin-payment-p {
    font-size: 13px;
}
.thick-payment-p {
    font-size: 15px;
}
.add-icon {
    width: 18px;
}
.profile-middle-div .receipt-half-div{
	width: 100%;
    float: none;
    padding-left: 0;
}
.booking-btn {
    margin-top: 12px;
	width:140px;}
.input-top-p{
	min-height: 34px;
}
}
@media all and (max-width: 390px){
.menu-padding {
	display:none;}	
.menu-icon{
	display:block;}	
.input-name, .input-message{
	font-size: 13px;
}
.opt-msg{
	font-size: 14px;
}
.ow-white-div {
    margin-top: 125px;}
.dropdown-1{
	display:none;}
}
@media all and (max-width: 380px){
.about-right {
    margin-top: 45px;
	padding-left: 0;
}
.company-p, .address-p {
    font-size: 14px;
}
.day {
    font-size: 12px;
}

}
@media all and (max-width: 370px){
.container1 {
    font-size: 16px;
}

}
@media all and (max-width: 350px){

.ow-white-div {
    width: 1020px;
    margin-top: 155px;
    margin-right: calc(50% - 510px);
}
.three-select {
    font-size: 13px;
}
.input-top-p {
    font-size: 10px;
}
.three-select-p{
	font-size: 13px;
}	
.total-p {
    font-size: 16px;
}
.faq-remove {
    font-size: 8px !important;
    margin-top: 12px !important;
}
}
@media all and (max-width: 330px){
.about-left {
    height: 480px;
}
.company-p, .address-p {
    font-size: 13px;
}
.left-contact-page .subtitle-p{
	font-size:18px;}
}
@media all and (max-width: 311px){
.input-top-p {
    font-size: 9px;
}

}
@media all and (max-width: 307px){
.about-right {
    margin-top: 45px;}	
}
@media all and (max-width: 305px){
.company-p, .address-p {
    font-size: 11px;
}
.left-contact-page .subtitle-p {
    font-size: 16px;
}
.white-div-title {
    min-height: 57px;
}	
}
@media print {
.header1, .footer-div, .payment-button, .fillup-extra-space, .fillup-extra-space2, .cancel-a, .divider, .receipt-two-btn-container, .notify-title, .project-textarea{
	display:none;
	visibility:hidden;}
.grey-bg{
	background-color:transparent;
	padding:0 !important;}
.receipt-title-h1{
	margin-top:0;}
.grey-bg{
	padding-top:0;}
}